#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 100px 0;
}

.tmdb-logo {
    width: 60px;
    height: auto;
    margin-left: 10px;
}

.tmdb-attribution {
    margin-top: 15px;
}

.footer-names {
    display: flex;
    margin-left: 75%;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.select-box {
    text-align: left;
}

.movie-image {
    height: 400px;
    border-radius: 0.375em;
}

.movie-info {
    text-align: left;
}

.card-group {
    margin-bottom: 3rem;
}

.card-body {
    font-weight: 500;
    line-height: 1.2;
    font-size: 0.8rem;
    text-align: left;
}

.tablet-show {
    visibility: hidden;
}

.mobile-show {
    display: none;
}

.button-full {
    width: 100%;
}

.card-img-top {
    height: 220px;
}

.active {
    color: #343a40;
    cursor: pointer;
}

.inactive {
    color: #adb5bd;
    cursor: pointer;
}

@media (max-width: 768px) {
    .movie-image {
        margin-bottom: 3rem;
    }
    
    .tablet-hide {
        display: none;
    }

    .tablet-show {
        visibility: visible;
    }
}

@media (max-width: 576px) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: relative;
    }
}
