.watched-container {
  overflow-x: auto;
  white-space: nowrap;
}

.watched-card-container {
  display: inline-block;
  margin-right: 10px;
}

.watched-card {
  width: 200px;
}

.watched-card-body {
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

.watched-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watched-card-body:hover {
    max-height: 100%;
}

.watched-card-title:hover {
    white-space: normal;
    overflow: visible;
}